<head>
  <link rel="stylesheet" href="/style.css">

</head>

<body>

<img src="/jamstation.png"/>

<h1>Log In:</h1>

<form class="" action="/login" method="post">
  <label for="email">Email:</label>
  <input type="text" name="email" value="">

  <label for="password">Password:</label>
  <input type="password" name="password" value="">

  <button type="submit">Log In</button>
</form>

  <a href="/signup">Sign Up</a>

</body>
